
<div class="wrapper">
  <center> <div class="site-title">   {{site.title}} </div></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div id="contact">
  <center>
  <ul>
    <li><a href="https://www.snapchat.com/add/marcopchen"><i class="fa fa-snapchat-square" aria-hidden="true"></i>
</a></li>
    <li><a href="https://www.instagram.com/marcopchen/"><i class="fa fa-instagram" aria-hidden="true"></i>
</a></li>
    <li><a href="https://www.youtube.com/marcopchen"><i class="fa fa-youtube-play" aria-hidden="true"></i>
</a></li>
    <li><a href="https://www.linkedin.com/in/marcopchen/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a></li>
    <li><a href="https://github.com/marcopchen/"><i class="fa fa-github" aria-hidden="true"></i>
</a></li>
    <li><a href="mailto:marcopchen@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
</a></li>
  <ul>
  </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}">HOME</a>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
