<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">
  <center> <div class="site-title">   {{site.title}} </div></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div id="contact">
  <center>
  <ul>
    <li><a href="https://www.snapchat.com/add/marcopchen"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
    <li><a href="https://www.snapchat.com/add/marcopchen" class="fa fa-snapchat"></a></li>
    <li><a href="https://www.instagram.com/marcopchen/" class="fa fa-instagram"></a></li>
    <li><a href="https://www.youtube.com/marcopchen" class="fa fa-youtube-play"></a></li>
    <li><a href="https://www.linkedin.com/in/marcopchen/" class="fa fa-linkedin-square"></a></li>
    <li><a href="https://github.com/marcopchen/" class="fa fa-github"></a></li>
  <ul>
  </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}">HOME</a>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
